@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Navigation*/

.nav {
    width: 100vw;
    display: flex;
    height: 65px;
}
.logo {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a {
    display: block;
}
.menu-expand {
    display: none;
}
.menu {
    padding-right: 10px;
}
.menu ul {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0;
}
.menu ul li {
    display: flex;
    margin: 0;
    height: 65px;
    align-items: center;
    align-content: center;
    list-style: none;
    transition: all 200ms ease-in-out;
}
.menu ul li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #868686;
    text-transform: uppercase;
    font-size: 13.5px;
    transition: all 200ms ease-in-out;
    padding: 8px 13px;
    border-radius: 2px;
    text-align: center;
}
.menu ul li:hover a {
    background-color: #ffbb42;
    color: white;
    transition: all 200ms ease-in-out;
}

/*quote*/

.quote {
    width: 100vw;
    background-color: #709dca;
    height: 600px;
    transition: all 200ms ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}
.quote h1 {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.quote p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 16px;
}
.form {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.form-input {
    display: inline-block;
    width: 280px;
    height: 45px;
    margin-right: 5px;
    border-radius: 2px;
    padding-left: 30px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #a9a9a9;
}
.input-name {
    background: url(Images/Icons/user-shape.svg) no-repeat 5px, white;
    background-size: 15px 15px;
}
.input-mail {
    background: url(Images/Icons/envelope.svg) no-repeat 5px, white;
    background-size: 15px 15px;
}
.input-phone {
    background: url(Images/Icons/telephone.svg) no-repeat 5px, white;
    background-size: 15px 15px;
}
.input-submit {
    width: auto;
    padding: 0 30px;
    margin-right: 0;
    background-color: #ffbb42;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ffbb42;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}
.input-submit:hover {
    background-color: white;
    color: #868686;
    border: 1px solid #ffbb42;
    transition: all 200ms ease-in-out;
}
.input-field {
    border: 1px solid white;
    transition: all 200ms ease-in-out;
}
.input-field:focus {
    outline: none;
    border: 1px solid #ffbb42;
    transition: all 200ms ease-in-out;
}
.slider {
    width: 650px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    height: 345px;
    background: url(Images/Laptop.png) no-repeat center;
    position: relative;
    overflow: hidden;
}
.slider img {
    display: block;
    position: absolute;
    top: 18px;
    left: 103px;
    transform: translateX(0%);
    transition: all 200ms ease-in-out;
}
img.out {
    transform: scale(.1);
    opacity: 0;
    transition: all 200ms ease-in-out;
}
img.in {
    animation: slidein .5s 1 ease-in-out;
}
@keyframes slidein {
    0% {
        opacity: 0;
        transform: translatex(0%);
        transform: scale(.1);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
        transform: scale(1);
    }
}
.indicator {
    width: 70px;
    height: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.indicator span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid #dedfe0;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
span.active {
    border: 3px solid #1ca8dd;
    transition: all 200ms ease-in-out;
}

/*Services*/

.services {
    background-color: white;
    height: auto;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 200px;
}
.sec-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #394b50;
}
.title-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #394b50;
}
.serv-show-container {
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.serv-show {
    width: 50%;
    height: 125px;
    margin: 0;
    margin-bottom: 85px;
}
.serv-icon {
    display: inline-block;
    width: 15%;
    height: 100%;
    vertical-align: top;
}
.serv-icon svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.serv-text {
    display: inline-block;
    width: 80%;
}
.serv-text-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #394b50;
    line-height: 1.375;
}
.serv-text-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    margin-top: 25px;
    height: 60px;
    line-height: 1.692;
}

/*About US*/

.about {
    width: 100vw;
    height: auto;
    display: flex;
}
.left-side {
    width: 50%;
    background: url("Images/about us.jpg") no-repeat center;
    background-size: cover;
}
.right-side {
    width: 50%;
    background: #ffc155;
    padding: 160px 75px;
}
.right-side .sec-title {
    color: white;
    letter-spacing: -1px;
    text-align: left;
}
.right-side p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.846;
    margin-top: 24px;
}
.cta {
    display: block;
    margin-top: 35px;
    width: 130px;
    height: 42px;
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    background-color: #ffbb42;
    transition: all 200ms ease-in-out;
}
.right-side .cta {
    border: 1px solid #e7ad48;
    background-color: transparent;
}
.right-side .cta:hover {
    background-color: white;
    color: #868686;
    transition: all 200ms ease-in-out;
}

/*Prices Table*/

.prices {
    width: 100vw;
    background: #e7edf3;
    height: auto;
    padding-top: 130px;
    padding-bottom: 170px
}
.table {
    width: 80vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}
.right-cell, .left-cell {
    width: 390px;
    height: auto;
    background: white;
    border-radius: 2px;
    padding: 50px 28px;
}
.middle-cell {
    width: 395px;
    height: auto;
    background: #709dca;
    border-radius: 2px;
    padding: 77px 28px 70px 28px;
}
.plan-side {
    font-family: 'Lato', sans-serif;
    font-size: 13.5px;
    color: #b5bbc1;
    line-height: 2.963;
    text-align: center;
    text-transform: uppercase;
}
.plan-middle {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 13.5px;
    line-height: 2.963;
    text-align: center;
    text-transform: uppercase;
}
.plan-title {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}
.plan-price {
    font-size: 60px;
    font-weight: 700;
    color: #ffbb42;
    line-height: 1;
    margin-top: 30px;
}
.plan-middle.plan-price {
    color: white;
}
.plan-price span {
    vertical-align: super;
    font-size: 35px;
}
.price-caption {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1;
    padding-bottom: 35px;
}
.plan-expand {
    display: none;
}
.plan-detail {
    border-top: 1px solid #e2e9f0;
}
.table .cta {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffbb42;
    transition: all 200ms ease-in-out;
}
.cta:hover {
    background-color: white;
    color: #868686;
    border: 1px solid #ffbb42;
    transition: all 200ms ease-in-out;
}

/*How it works*/

.how {
    padding: 160px 0 150px;
}
.step-container {
  width: 80vw;
  margin: 80px auto 90px;
  display: flex;
  justify-content: space-between;
  background: url(Images/Icons/work-arrow2.svg), url(Images/Icons/work-arrow1.svg), url(Images/Icons/work-arrow2.svg);
  background-repeat: no-repeat;
  background-size: 10vw auto;
  background-position: 21% 0, 49.5% calc(19% + 57px), 79.5% 0;
  padding-top: 4%;

}
.step {
    width: 18.5vw;
    text-align: center;
}
.step-img {
    width: 67px;
    height: 57px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.step-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.1;
    color: #394b50;
    margin-bottom: 30px;
}
.step-details {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    line-height: 1.692;
}
.how .cta {
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    border: 1px solid #ffbb42;
}

/*Happy Clients*/

.happy {
    background: #ffc155;
    padding-top: 140px;
    padding-bottom: 160px;
}
.happy .sec-title, .happy .title-caption {
    color: white
}
.clients-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    justify-content: space-between;
}
.client {
    width: 47%;
    background: white;
    border-radius: 2px;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.client-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.client-text {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
}
.client-quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    padding-left: 20px;
    padding-right: 5px;
    background: url(Images/quote-left.png), url(Images/quote-right.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
}
.client-name {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #99a9ae;
    margin-top: 25px;
    padding-left: 20px;
}
.client-name span:first-child {
    color: #f6772c;
}
.client-name span:last-child {
    white-space: nowrap;
}

/*Newsletter*/

.letter {
    padding-top: 160px;
    padding-bottom: 50px;
}
.letter .form {
    padding-top: 40px;
    padding-left: 6px;
    padding-right: 6px;
}
.letter .input-mail {
    width: 400px;
}
.letter .input-field {
    border: 1px solid #cbcbcb;
    transition: all 200ms ease-in-out;
}
.letter .input-field:focus {
    border: 1px solid #ffbb42;
    transition: all 200ms ease-in-out;
}
.map {
    width: 80vw;
    height: 500px;
    background: url(Images/map.png) no-repeat center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}
.contact {
    width: 22%;
    height: auto;
    background: url(Images/bubble.png) no-repeat center;
    background-size: contain;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.address-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    line-height: 2;
    margin-top: -10px;
}
.address-details {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #aeb7ba;
    line-height: 1.3;
}
.address-details span {
    color: #ffbb42;
}
.map img {
    width: 20px;
    height: auto;
    position: absolute;
    left: calc(50% - 10px);
    top: 50%;
}
.bottom-menu {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    border-top: 1px solid #aeb7ba;
}
.bottom-menu ul {
    width: 100%;
    justify-content: center;
}
.bottom-menu ul li {
    position: relative;
}
.bottom-menu ul li a {
    font-size: 13px;
    padding: 0 7px;
}
.bottom-menu ul li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ffbb42;
    position: absolute;
    bottom: 2px;
    left: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.bottom-menu ul li:hover::after {
    bottom: 15px;
    left: 0;
    opacity: 1;
    transition: all 200ms ease-in-out;
}
.bottom-menu ul li:hover a {
    background-color: transparent;
    color: black;
    transition: all 200ms ease-in-out;
}
.phone {
    display: block;
    font-size: 22.5px;
    font-family: "lato", sans-serif;
    color: #394b50;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url(Images/Icons/telephone.svg) no-repeat 0 center;
    background-size: 15px 15px;
}
.social {
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.social a {
    display: inline-block;
    width: auto;
}
.social a svg {
    fill: #709dca;
    transition: all 150ms ease-in-out;
}
.social a:hover svg {
    fill: #ffc155;
    transition: all 150ms ease-in-out;
}

/*Footer*/
footer {
    height: auto;
    background: #709dca;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
footer div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 1.8;
    display: inline-block;
}
footer div a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 1.8;
    text-decoration: none;
    display: inline-block;
    transition: all 150ms ease-in-out;
}
footer div a:hover {
    color: #ffc155;
    transition: all 150ms ease-in-out;
}

/*Media Queries*/

@media (max-width: 960px) {
    /*Happy clients*/
    .client {
        padding: 10px;
    }
    .client-img {
        width: 60px;
        height: 60px;
    }
    .client-text{
      width: calc(100% - 70px)
    }
    .client-quote {
        font-size: 11.5px;
    }
    .client-name {
        font-size: 12px;
    }
    .contact {
        width: 30%;
    }
}
@media (max-width: 895px) {
    /*Prices Table*/
    .plan-side, .plan-middle {
        font-size: 10.5px;
    }
    .plan-title {
        font-size: 19px;
    }
    .plan-price {
        font-size: 45px;
    }
    .plan-price span {
        font-size: 25px;
    }
}
@media (max-width: 870px) {
    /*How it works*/
    .serv-text {
        padding-left: 10px;
    }
    .step-title {
        font-size: 17px;
    }
    .step-details {
        font-size: 12px;
        line-height: 1.3;
    }
    .contact {
        width: 28%;
    }
}
@media (max-width: 750px) {
    /*Navigation*/
    .nav {
        flex-wrap: wrap;
        height: auto;
    }
    .logo {
        width: 70vw;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 10px;
        padding-top: 10px;
    }
    .menu-expand {
        display: block;
        width: 30vw;
        height: auto;
        padding-top: 15px;
    }
    .menu-expand span {
        position: relative;
        left: calc(100% - 40px);
        width: 30px;
        height: 3px;
        background-color: black;
        display: block;
        margin-top: 5px;
        border-radius: 1px;
        cursor: pointer;
    }
    .menu {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        max-height: 0;
        overflow: hidden;
        transition: max-height 150ms ease-out;
        padding-right: 0;
    }
    .menu.open {
        max-height: 64px;
        padding-bottom: 10px;
        transition: max-height 150ms ease-out;
    }
    .menu ul {
        width: inherit;
        flex-wrap: wrap;
    }
    .menu ul li {
        width: auto;
        height: auto;
    }
    .menu ul li a {
        padding: 5px 5px;
        border-bottom: 1px solid #ffbb42;
    }
    /*quote*/
    .quote {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
    .quote h1 {
        padding-top: 40px;
        font-size: 24px;
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .quote p {
        margin-top: 5px;
        font-size: 13px;
        text-align: left;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .quote.down {
        transform: translateY(0) !important;
        transition: all 200ms ease-in-out;
    }
    .quote form {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .quote form input {
        display: block;
        width: 300px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .quote form input[type="submit"] {
        width: 300px;
        margin-right: auto;
    }
    .slider {
        display: none;
    }
    .indicator {
        display: none;
    }
    /*Services*/
    .services {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sec-title {
        font-size: 22px;
        letter-spacing: -1px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .title-caption {
        font-size: 13px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .serv-show-container {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 20px;
        width: 90vw;
        margin-left: 0;
        margin-right: 0;
    }
    .serv-icon {
        width: 30px;
        vertical-align: middle;
    }
    .serv-icon svg {
        height: 100% !important;
        width: 100% !important;
    }
    .serv-show {
        height: auto;
        width: 90%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .serv-text {
        display: inline-block;
        height: 50px;
        padding-left: 10px;
    }
    .serv-text-title {
        display: block;
        height: 100%;
        padding-top: 17px;
        font-size: 12px;
    }
    .serv-text-body {
        display: none;
    }
    /*About Us*/
    .left-side {
        display: none;
    }
    .right-side {
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("Images/about us.jpg") no-repeat center;
        background-size: cover;
        padding: 20px 10px;
    }
    .right-side .sec-title {
        letter-spacing: -1px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .right-side p {
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .right-side .cta {
        background-color: #ffbb42;
        margin-top: 20px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    /*Price Table*/
    .prices {
        padding: 20px 10px;
    }
    .table {
        padding-top: 20px;
        flex-direction: column;
    }
    .right-cell, .left-cell {
        width: 80%;
        padding: 20px 10px 0;
    }
    .middle-cell {
        width: 90%;
        padding: 20px 10px 0;
    }
    .plan-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        position: relative;
    }
    .plan-title {
        font-size: 13px;
        font-weight: 700;
    }
    .plan-price {
        margin-top: 0;
        font-size: 30px;
        padding-left: 7px;
    }
    .plan-price span {
        font-size: 15px;
    }
    .price-caption {
        padding-bottom: 0;
        display: inline-block;
        align-self: flex-end;
    }
    .plan-expand {
        display: block;
        position: absolute;
        top: -20px;
        right: -10px;
    }
    .plan-expand svg {
        transition: all 150ms ease-out;
    }
    .reversed {
        transform: rotateZ(180deg);
        transition: all 150ms ease-out;
    }
    .plan-details {
        max-height: 0;
        overflow: hidden;
        transition: max-height 150ms ease-out;
    }
    .expanded {
        max-height: 166px;
        transition: max-height 150ms ease-out;
    }
    .cta {
        margin-bottom: 20px;
    }
    /*How it works*/
    .how {
        padding: 20px 10px;
    }
    .step-container {
        flex-direction: column;
        background: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px 0 20px;
        width: 90vw;
    }
    .step {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        align-items: center;
    }
    .step-img {
        margin-bottom: 0;
        width: 50px;
        height: 40px;
    }
    .step-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: left;
        margin-left: 10px;
    }
    .step-title {
        margin-bottom: 5px;
        text-align: left;
        width: 100%;
    }
    .step-details {
        text-align: left;
        width: 100%;
    }
    .how .cta {
        margin-top: 0;
        margin-bottom: 0;
    }
    /*Happy clients*/
    .happy {
        padding: 20px 10px;
    }
    .clients-container {
        width: auto;
        position: relative;
        padding-top: 20px;
    }
    .client {
        width: 100%;
    }
    /*Newesltter*/
    .letter {
        padding: 20px 10px;
    }
    .letter .form {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .letter .form-input {
        width: 300px;
        margin-top: 5px;
        margin-right: 0;
    }
    .map {
        height: auto;
        width: 100vw;
        margin: 20px -10px 10px;
    }
    .contact {
        position: relative;
        height: auto !important;
        width: 100%;
        background: none, rgba(57, 75, 80, .5);
        top: auto !important;
        left: auto !important;
        padding: 5px 0;
    }
    .address-title {
        margin-top: 0;
    }
    .address-details {
        color: white;
    }
    .map img {
        position: relative;
        display: none;
    }
    .bottom-menu {
        display: none;
    }
    .phone {
        display: none;
    }
    .social {
        width: 93px;
        margin-top: 20px;
    }
    .social a svg {
        height: 20px;
        width: 20px;
    }
    /*Footer*/
    footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer div p {
        display: inline;
        font-size: 10px;
    }
    footer div a {
        color: #ffbb42;
    }
}
@media (min-width:1550px) {
    .contact {
        width: 18%;
    }
    .address-title {
        font-size: 18px;
    }
    .address-details {
        font-size: 16px;
    }
}
@media (min-width:1850px) {
    .step-container {
        background-position: 21% 0, 49.5% calc(30% + 57px), 79.5% 0;
    }
    .contact {
        width: 15.5%;
    }
    .address-title {
        font-size: 20px;
    }
    .address-details {
        font-size: 17px;
    }
}
@media (min-width:2400px) {
    .step-container {
        background-position: 21% 0, 49.5% calc(42% + 57px), 79.5% 0;
    }
}
@media (min-width:2200px) {
  .contact {
      width: 13.5%;}
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;*/
